# IDEs and Editors
.idea/
.vscode/
*.swp
*.iml
.DS_Store

# Build Output
dist/
build/
bin/
out/
target/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Logs
logs/
*.log

# MedCenter Manager Specific
cmed-files/
medcenter-manager.jar
medcenter-manager-app-portable.jar

# Frontend (generated)
web/dist/
web/node_modules/
web/.angular/

# Backend (generated)
app/.gradle/
app/build/
app/bin/
